In [4]:
# Exception handling


age = '23'

try:
  print(1/0)
  if age >= 18:
    print('can vote')
  else:
    print('can\'t vote')
except TypeError:
  print('Something went wrong!!')
  print('Invalid datatype comparison!!')

except:
  print('Invalid code!!')

Invalid code!!

In [1]:
def show_time():
    try:
      while True:
        import time
        print(time.asctime())
        time.sleep(1)
        display(clear = True)
    except:
        print('Timer has been stopped!!')

In [2]:
show_time()

Fri Jul  4 10:45:27 2025
Timer has been stopped!!

In [3]:
def student_records(**kwargs):
  import pandas as pd
  try:
    data = pd.DataFrame(kwargs)
    return data
  except:
    data = pd.DataFrame(kwargs,index = [1])
    return data

In [4]:
student_records(Name = 'Anshika',Age = 19,Address = 'UP')

      Name  Age Address
1  Anshika   19      UP

In [5]:
student_records(Name = ['Anshika','Nameesh','Vanshika'],
                Age = [19,20,20],
                Address = ['UP','Haryana','Delhi'])

       Name  Age  Address
0   Anshika   19       UP
1   Nameesh   20  Haryana
2  Vanshika   20    Delhi

In [6]:
student_records(Name = ['Anshika','Nameesh','Vanshika'],
                Age = [19,20,20],
                Address = ['UP','Haryana','Delhi'],
                Sec = list('ABC'))

       Name  Age  Address Sec
0   Anshika   19       UP   A
1   Nameesh   20  Haryana   B
2  Vanshika   20    Delhi   C

In [1]:
import Anshika as a
print('Done')

This is Anshika Module in Python
Info: https://www.google.com/
Done

In [2]:
#import math as m
#import random as r

In [4]:
import Anshika as a

In [5]:
a.print_star(n = 7,typ = 'mid',shape='%')

      %
     % %
    % % %
   % % % %
  % % % % %
 % % % % % %
% % % % % % %

In [6]:
a.print_star(n = 7)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [9]:
a.factorial(7)

5040

In [10]:
a.check_palindrome(89)

'Invalid Data Type'

In [11]:
a.check_prime(7888)

'Not a Prime Number'

In [13]:
a.give_fibo(5)

[0, 1, 1, 2, 3]

In [15]:
a.maxx(89,65,455,876)

876

In [17]:
a.minn(566,89,56767,8998)

89

In [18]:
a.sum_of_n_natural_numbers(8)

36

In [22]:
a.total_sales(78)

78

In [30]:
a.student_records(Name = 'Anshika',Age = 19,Address = 'UP')

      Name  Age Address
1  Anshika   19      UP

In [ ]:
a.show_time()

Fri Jul  4 13:00:15 2025

In [2]:
from Anshika import minn
print('Done')

Done

In [3]:
from Anshika import *
print('Done')

Done

In [4]:
student_records(Name = 'Anshika',Age = 19,Address = 'UP')

      Name  Age Address
1  Anshika   19      UP

In [5]:
sum_of_n_natural_numbers(67)

2278

In [6]:
import turtle
print('Done')

Done

In [2]:
import turtle
for i in range(4):
    turtle.circle(100)

In [3]:
import turtle
for i in range(120):
    turtle.speed(0)
    turtle.bgcolor('black')
    col = ['red','yellow','green','blue','orange']
    import random
    picked_color = random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(3)

In [1]:
import turtle
for i in range(3):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(300)
    turtle.left(120)

In [ ]:
#file handling(read,write,copy,append,dlt,open,close,new)
#types of file :-
#text file [.py,.html,.csv,.tsv,.css,.java,.c,c++,.js,.json] and
#binary file [.pdf,.mp3,.mp4,.png,.jpeg,.exe,.zip,.dat,.tar,.xlsx,.ppt,.doc,.ipynb]

In [3]:
#context manager
file = open('Anshika.py',mode = 'r')
print(file.read(70))

print('''This is Anshika Module in Python
Info: https://www.google.com

In [6]:
a = 'ajay'
b = 'ajay'
print(id(a))
print(id(b))

2802503825568
2802503825568

In [8]:
f = open('Anshika.py',mode = 'r')

In [9]:
print(f.readline())

print('''This is Anshika Module in Python

In [10]:
f.close()
print('Done')

Done

In [13]:
f = open('Anshika.py',mode = 'r')
for i in range(8):
    print(f.readline())

print('''This is Anshika Module in Python

Info: https://www.google.com/''')





def check_palindrome(word:str):

  if type(word) == str:

    word = word.upper()

    if word == word[::-1]:

In [18]:
f = open('Anshika.py',mode = 'r')
for i in range(10):
    if i == 7: #line no 8
        print(f.readline())
    else:
        f.readline()

    if word == word[::-1]:

In [19]:
f = open('Anshika.py',mode = 'r')
data = f.readlines()
f.close()
print('done')

done

In [20]:
print(data)

["print('''This is Anshika Module in Python\n", "Info: https://www.google.com/''')\n", '\n', '\n', 'def check_palindrome(word:str):\n', '  if type(word) == str:\n', '    word = word.upper()\n', '    if word == word[::-1]:\n', "      return 'Palindrome'\n", '    else:\n', "      return 'Not a Plaindrome'\n", '  else:\n', "    return 'Invalid Data Type'\n", '\n', 'def give_fibo(n):\n', '  fibo = [0,1]\n', '  for i in range(n-2):\n', '     last_num = fibo[-1]\n', '     second_last_num = fibo[-2]\n', '     next_num = last_num + second_last_num\n', '     fibo.append(next_num)\n', '  return fibo\n', '\n', '\n', '\n', 'def check_prime(number):\n', '    for i in range(2,number):\n', '        if number % i == 0:\n', "            return 'Not a Prime Number'\n", '            break\n', "            print('Happy Holi')\n", '    else:\n', "        return 'Prime Number'\n", '\n', '\n', "def print_star(n = 5, typ = 'left',shape = '*'):\n", "  if typ  == 'left':\n", "    space  = ''\n", '\n', "  elif typ == 'right':\n", "    space = '  '\n", '\n', "  elif typ == 'mid':\n", "    space = ' '\n", '\n', '  for i in range(1,n+1):\n', "    print(space*(n-i) + i*f'{shape} ')\n", '\n', '\n', '\n', 'def sum_of_n_natural_numbers(n):\n', '    result = 0\n', '    for i in range(1,n+1):\n', '        result += i\n', '    return result\n', '\n', '\n', 'def factorial(n):\n', '    result = 1\n', '    for i in range(1,n+1):\n', '        result *= i\n', '    return result\n', '\n', '\n', 'def total_sales(*args):\n', '  #unpacking\n', '  result = 0\n', '  for i in args:\n', '    result += i\n', '  return result\n', '\n', '\n', 'def minn(*data):\n', '  min_ele = data[0]\n', '  for i in data[1:]:\n', '    if i< min_ele:\n', '      min_ele = i\n', '  return min_ele\n', '\n', '\n', 'def maxx(*data):\n', '  max_ele = data[0]\n', '  for i in data[1:]:\n', '    if i> max_ele:\n', '      max_ele = i\n', '  return max_ele    \n', '\n', '\n', "def sound_box(paisa,platform = 'Paytm'):\n", '    from gtts import gTTS\n', "    text  = f'''{platform} par {paisa} rs Prapt hue.'''\n", '    audio = gTTS(text)\n', "    audio.save('paytm.mp3')\n", '\n', '    import pygame as p\n', '    p.init()\n', '\n', "    music = p.mixer.Sound('paytm.mp3')\n", '    music.play()\n', '\n', '\n', 'def student_records(**kwargs):\n', '  import pandas as pd\n', '  try:\n', '    data = pd.DataFrame(kwargs)\n', '    return data\n', '  except:\n', '    data = pd.DataFrame(kwargs,index = [1])\n', '    return data\n', '\n', '\n', 'def show_time():\n', '    try:\n', '      while True:\n', '        import time\n', '        print(time.asctime())\n', '        time.sleep(1)\n', '        display(clear = True)\n', '    except:\n', "        print('Timer has been stopped!!')\n", '\n', '\n', '        \n', '      \n', '    \n', '\n', '      \n', '    ']

In [21]:
print(data[7])

    if word == word[::-1]:

In [22]:
print(data[7:18])

['    if word == word[::-1]:\n', "      return 'Palindrome'\n", '    else:\n', "      return 'Not a Plaindrome'\n", '  else:\n', "    return 'Invalid Data Type'\n", '\n', 'def give_fibo(n):\n', '  fibo = [0,1]\n', '  for i in range(n-2):\n', '     last_num = fibo[-1]\n']

In [24]:
for i in data[:16]:
    print(i)

print('''This is Anshika Module in Python

Info: https://www.google.com/''')





def check_palindrome(word:str):

  if type(word) == str:

    word = word.upper()

    if word == word[::-1]:

      return 'Palindrome'

    else:

      return 'Not a Plaindrome'

  else:

    return 'Invalid Data Type'



def give_fibo(n):

  fibo = [0,1]

In [ ]:
1