In [ ]:
def check_palindrome(word):
    return word

In [ ]:
check_palindrome('Ajay')

'Ajay'

In [ ]:
a = 'lucky'
a[::-1]

'ykcul'

In [ ]:
a = 'nitin'

if a == a[::-1]:
  print(f'{a} is a Palindrome')
else:
  print(f'{a} is Not a Palindrome')

nitin is a Palindrome

In [ ]:
def check_palindrome(word:str):
  if type(word) == str:
    word = word.upper()
    if word == word[::-1]:
      return 'Palindrome'
    else:
      return 'Not a Plaindrome'
  else:
    return 'Invalid Data Type'

In [ ]:
check_palindrome('naman')

'Palindrome'

In [ ]:
check_palindrome('harry')

'Not a Plaindrome'

In [ ]:
a:int = 'Mohan'
print(a)

Mohan

In [ ]:
def check_prime(number):
  for i in range(2,number):
    if number % i == 0:
      return 'Not a Prime Number'
      break
      print ('Happy Holi')
  else:
       return 'Prime Number'

In [ ]:
check_prime(45)

'Not a Prime Number'

In [ ]:
def give_fibo(n):
  fibo = [0,1]
  for i in range(n-2):
     last_num = fibo[-1]
     second_last_num = fibo[-2]
     next_num = last_num + second_last_num
     fibo.append(next_num)
  return fibo

In [ ]:
data = [34,65,654,76,856]
print(data[-1])
print(data[-2])

856
76

In [ ]:
def give_fibo(n):
  fibo = [0,1]
  for i in range(n-2):
     last_num = fibo[-1]
     second_last_num = fibo[-2]
     next_num = last_num + second_last_num
     fibo.append(next_num)
  return fibo

In [ ]:
print(give_fibo(20))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [ ]:
n = 5

for i in range(1,n+1):
  print(i * '* ')

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = 5

for i in range(1,n+1):
  print(' '*(n-i) + i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
'hello' + 'World'

'helloWorld'

In [ ]:
def print_star(n = 5, typ = 'left'):
  for i in range(1,n+1):
    print(' '*(n-i) + i*'* ')

In [ ]:
print_star(6)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
def print_star(n = 5, typ = 'left'):
  if typ  == 'left':
    space  = ''

  elif typ == 'right':
    space = '  '

  elif typ == 'mid':
    space = ' '

  for i in range(1,n+1):
    print(space*(n-i) + i*'* ')

In [ ]:
print_star(7,'right')

            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *

In [ ]:
def print_star(n = 5, typ = 'left',shape = '*'):
  if typ  == 'left':
    space  = ''

  elif typ == 'right':
    space = '  '

  elif typ == 'mid':
    space = ' '

  for i in range(1,n+1):
    print(space*(n-i) + i*f'{shape} ')

In [ ]:
print_star(4,'right','@')

      @
    @ @
  @ @ @
@ @ @ @

In [ ]:
def sum_of_n_natural_numbers(n):
  result = 0
  for i in range(1,n+1):
    result += i
  return result

In [ ]:
sum_of_n_natural_numbers(30)

465

In [ ]:
def factorial(n):
  result = 1
  for i in range(1,n+1):
      result *=i
  return result

In [ ]:
factorial(5)

120

In [ ]:
def total_sales(*args):
  print(args)

In [ ]:
total_sales(1,2,4,6,77)

(1, 2, 4, 6, 77)

In [ ]:
def total_sales(*args):
  result = 0
  for i in args:
    result += i
  return result

In [ ]:
total_sales(1,2,4,6,77)

90

In [ ]:
sales = [100,45,23,20,98,889,9999,45,33]
min(sales)

20

In [ ]:
sales = [100,45,23,20,98,889,9999,45,33]
min_element = sales[0]
for i in sales[1:]:
  if i < min_element:
    min_element = i
print(min_element)

20

In [ ]:
sales = [100,45,23,20,98,889,9999,45,33]
max_element = sales[0]
for i in sales[1:]:
  if i > max_element:
    max_element = i
print(max_element)

9999

In [ ]:
def minn(*data):
  min_ele = data[0]
  for i in data[1:]:
    if i< min_ele:
      min_ele = i
  return min_ele

In [ ]:
minn(376,246,354,64,667,468)

64

In [ ]:
def maxx(*data):
  max_ele = data[0]
  for i in data[1:]:
    if i> max_ele:
      max_ele = i
  return max_ele

In [ ]:
maxx(767,999,344,67,23,88888,99)

88888

In [ ]:
company= ['ola','uber','rapido','indrive','adani','tata']
def add_hashtag(*company):
  result = []
  for i in company:
    result.append('#'+i.upper())
  return result

In [ ]:
add_hashtag('ola','uber','rapido','indrive','adani','tata')

['#OLA', '#UBER', '#RAPIDO', '#INDRIVE', '#ADANI', '#TATA']

In [ ]:
def store_records(name,age,sec,roll_no,Class):
  data = {'Name':name,'Age':age,'Section':sec,'Roll_No':roll_no,'Class':Class}
  import pandas as pd
  result = pd.DataFrame(data,index = [1])
  return result

In [ ]:
store_records('Anshika',19,'M1',26,'BCA')

      Name  Age Section  Roll_No Class
1  Anshika   19      M1       26   BCA

In [ ]:
display(store_records('Anshika',19,'M1',26,'BCA'))
display(store_records('Niyati',19,'M1',13,'BCA'))
display(store_records('Vanshika',19,'M1',35,'BCA'))
display(store_records('Divyanshu',19,'M1',57,'BCA'))

      Name  Age Section  Roll_No Class
1  Anshika   19      M1       26   BCA

     Name  Age Section  Roll_No Class
1  Niyati   19      M1       13   BCA

       Name  Age Section  Roll_No Class
1  Vanshika   19      M1       35   BCA

        Name  Age Section  Roll_No Class
1  Divyanshu   19      M1       57   BCA

In [ ]:
import pandas as pd
def students_records(**kwargs):
  result = pd.DataFrame(kwargs,index=[1])
  return result

In [ ]:
students_records(Name = 'Anshika',Age = '19',Sec = 'm1',Roll_no = '26')

      Name Age Sec Roll_no
1  Anshika  19  m1      26